# Async HTTP & WebSocket
aiohttp>=3.9.0
aiohttp-socks>=0.8.4
websockets>=12.0

# Configuration
pyyaml>=6.0
pydantic>=2.5.0
pydantic-settings>=2.1.0
python-dotenv>=1.0.0

# Telegram
python-telegram-bot>=20.7

# Utilities
loguru>=0.7.2

# Chart
matplotlib>=3.8.0
numpy>=1.26.0

# Web Server
flask>=3.0.0
